[Desktop Entry]
Comment=Es un script altamente erotico
GenericName=Es un script altamente erotico
Icon=python
Name=Soundy
StartupNotify=true
Terminal=false
Type=Application
